<!--<!DOCTYPE html>-->

<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="utf-8"/>-->
<!--  <title>MasterRobot - Comic book store</title>-->
<!--</head>-->
<!--<body>-->
<!--  <form action="/login" th:object=${currentCustomer} method="POST">-->
<!--    <label for="cust_id">Enter Customer ID</label>-->
<!--    <input th:field="*{cust_id}" id="cust_id" type="number"></input>-->
<!--    <input type="submit" value="Login"/>-->
<!--  </form>-->
<!--</body>-->
<!--</html>-->